.m-container{
    margin: auto;
    max-width: 42rem;
    margin-bottom: 3rem;
}
.m-container .logo{
    margin-top: 3rem;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.m-container .logo span{
    color: rgb(43, 139, 14);
}
.m-container  p{
    text-align: center;
    font-size: medium;
    /* color: rgb(43, 139, 14); */

}
.m-content{
    margin: 20px 0;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    flex: 4 1 0%;
    align-items: center;

}
.m-content .f-input{
    width: 55%;
    border-radius: 4px;
    border: 1px solid green;
    padding: 5px 10px;
}
.m-content2 img{
    width: 25px;
    height: 20px;
    margin-top: 2px;
    margin-left: -40px;
}
.m-content2{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}
.m-content2 input{
    width: 100%;
    padding: 2px 5px;
}
.m-content button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    border: 0px solid green;
    padding: 5px 7px;
    width: fit-content;
    border-radius: 10px;
}

.passwords h2{
    margin-bottom: 1rem;
}
.table{
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
}
.table-head{
    background-color: green;
    color: white;
}
th{
    padding: 0.5rem;
}
.table-data{
    text-align: center;
    width: 8rem;
}
td{
    background-color: rgb(179, 228, 179);
    padding: 0.4rem;
    
}
/* td:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */
